.rating-state {
  padding: 1.75rem 2.25rem;
}
.star {
  margin-top: 0;
  cursor: default;
}
.submit-button {
  border: 0;
  background-color: var(--orange);
  color: var(--white);
  height: 2.75rem;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.15em;
}
.submit-button:hover {
  background: var(--white);
  color: var(--orange);
}

/* DISPLAY */
.rating-state[data-visible="false"] {
  display: none;
}